<h1>Listing all blogs</h1>
<%= link_to 'Home', root_path %>

<hr>
<hr>

<% @blogs.each do |blog| %>
  <h3>Anime Name : </h3><%= blog.anime_name %><br>
  <h3>Description : </h3><%=  blog.desc %><br>
  <%= link_to 'Show', anime_blog_path(blog.id) %><br>
  <br>
  <hr>
<% end %>


<hr>
