<div class="intro">
  <div class='topPanel'>
    <a class="titleHomeLink" href ='/'>
      <h1>Anime Blog&nbsp;&trade; </h1>
    </a>
  </div>
  <div class="homeIntro">
    <h2>Welcome to the Anime&nbsp;blog.</h2>
    <br>
    <p>You can also follow us on <a href="http://www.facebook.com/animeartsindia">Facebook</a></p>
  </div>
</div>