<%= render 'heading' %>
<div class="links">
  <div class="create">
    <%= link_to 'Create New Blog', new_anime_blog_path %> &nbsp; &nbsp;
  </div>
  <div class="view">
    <%= link_to 'View All Blogs', anime_blogs_path %>
  </div>
</div>
<div class="image">
  <%= image_tag('home.jpg')%>
</div>